*{
    padding: 0px;
    margin: 0px;
}
.banner{
    background-image:linear-gradient(rgba(0,0,0,0.5),#009688),url(photos/Barber_Shop_img/banner.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}
.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10px;
}
.text{
    text-align: center;
    color: bisque;
    padding-top: 180px;

}
.text h1{
    font-size: 150px;
    font-family: 'Kaushan Script', cursive;

}
.text p{
    font-size: 30px;
    font-style: italic;
}
.btn{
    margin: 80px auto 0;

}
.btn a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;;
    border: 5px solid blanchedalmond;
    transition: color 0.5s;
}
.btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: aliceblue;
    z-index: -1;
    transition: 0.5s;

}
btn a:hover span{
    width: 100px;
}
btn a:hover span{
    background-color: #fff;
}
#side{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 10px;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;

}
nav ul li a{
    text-decoration: none;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
}
#menu{
    width: 50px;
    height: 50px;
    background:blueviolet;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: index 3px;
    cursor: pointer;

}
#menu img{
    width: 20px;
    margin-top: 20px;
}
@media screen and (max-width: 770px) {
    .text h1{
        font-size: 44px;
        
    
    }
    .btn a {
        
        display: block;
        margin: 20px auto;
        
    }
    
}